/* Miyoun Cho 
 Assignment 14.1: Final Project 
 CSS script. */

.container {                                                   
    position: relative;
    width: 70%;
    min-width: 80em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

h1 {
    font-family: 'Lora', serif;
    color: #0B45BA;
    font-size: 30pt;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;            
    color: #3A3A3A;
    font-size: 26pt;
    margin-bottom: 50px;
}

p {
    font-family: 'Nunito', sans-serif;
    color: #5C5C5C;
    font-size: 14pt;
}
            
.logobox {
    text-align:center;
}

#logo {
    width: 80px;
}

.topnav {
    overflow: hidden;
    background-color: #f2f2f2;
    margin-bottom: 30px;
}

.topnav a {
    float: left;
    font-family: 'Lora', serif;
    color: #5B5B5B;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #4CAF50;
    color: #f2f2f2;
}

.topnav a.active {
    background-color: #FE8E0E;
    color: #f2f2f2;
}
