/* Miyoun Cho 
 Assignment 14.1: Final Project 
 CSS script. */

.container {                                                   
    position: relative;
    width: 70%;
    min-width: 80em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
}

.logobox {
    margin: 30px;
        
}

.logo {
    font-family: 'Montserrat', sans-serif;            
    color: #3A3A3A;
    font-size: 40pt;
}

h1 {
    font-family: 'Vollkorn', serif;
    color: #0B45BA;
    font-size: 28pt;
    font-weight: bold;
}

h2 {
    font-family: 'Vollkorn', serif;           
    color: #3A3A3A;
    font-size: 20pt;
    margin-bottom: 50px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #3A3A3A;
    font-size: 14pt;
}
            
.topnav {
    overflow: hidden;
    width: 90%;
    text-align: center;
    background-color: #FBFBFB;
    margin-bottom: 30px;
}

.topnav a {
    float: left;
    width: 30%;
    font-family: 'Vollkorn', serif;
    color: #5B5B5B;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #D7D7D7;
    color: #5B5B5B;
}

.topnav a.active {
    background-color: #C6A788;
    color: #FBFBFB;
}

.featuredbox {
    text-align: center;
    width: 100%;
    padding: 50px;
}

/* 3-column grid with with the repeat() function. */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}

.imagebox {
    width: 400px;
    height: 350px;
    text-align: center;
}

.imagebox img {
    width: 60%;
}

.imagebox p {
    font-family: 'Vollkorn', serif; 
    color: #3A3A3A; 
    font-size: 14pt;
    font-weight: bold;
}       
