/* Miyoun Cho 
 Assignment 14.1: Final Project 
 CSS script. */

.container {                                                   
    position: relative;
    width: 70%;
    min-width: 80em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: #3A3A3A;
    font-size: 24pt;
    font-weight: bold;
}

h2 {
    font-family: 'Lato', sans-serif;        
    color: #707070;
    font-size: 18pt;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Lato', sans-serif;        
    color: #707070;
    font-size: 14pt;
    margin-bottom: 10px;
}


p {
    font-family: 'Lato', sans-serif;
    color: #3A3A3A;
    font-size: 14pt;
}

a {
    font-family: 'Lato', sans-serif;
    color: #3A3A3A;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: none;               
    /* change the font color when mouse hoover on text */
    color: #C6A788;   
}

/* top navigation */
.logobox {
    margin: 50px;
}

.logo {
    font-family: 'Yeseva One', cursive;           
    color: #3A3A3A;
    font-size: 40pt;
}

.topnav {
    overflow: hidden;
    text-align: center;
    background-color: #FBFBFB;
    margin-bottom: 30px;
}

.topnav a {
    float: left;
    width: 33.33%;
    font-family: 'Lato', sans-serif; 
    color: #5B5B5B;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: #D7D7D7;
    color: #5B5B5B;
}

.topnav a.active {
    background-color: #C6A788;
    color: #FBFBFB;
}

.mainimage {
    position: relative;
    text-align: center;
    width: 1280px;
    height: 400px;
    overflow: hidden;
}

.mainimage img {
    width: 1280px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* 3-column grid with with the repeat() function. */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin-top: 40px;
}

#clear {clear: both;}

/* footer */
.footer {                                                     
    clear: both;
    text-align: center;
    padding-top: 5%;                                         
    padding-bottom: 5%;
    background-color: #E7E7E7;
    color: #5B5B5B;
} 

.footer p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


.source {
    text-align: left;
    height: 40px;
    position: relative;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    color: #B2B2B2;
}

/* home css */
#home .imagebox {
    border: none;
    width: 400px;
    text-align: center;
}

#home .imagebox img {
    width: 60%;
    transition-duration: 0.5s;
}

#home .imagebox img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#home .imagebox p {
    font-family: 'Libre Baskerville', serif; 
    color: #3A3A3A; 
    font-size: 14pt;
}

#home .featuredbox {
    text-align: center;
    width: 100%;
    padding: 50px;
}

/* 3-column grid with with the repeat() function. */
#home .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin-top: 40px;
}

/* shop (product list) page */
/* Create three equal columns that floats next to each other */
#shop .product {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 600px;
}

/* Clear floats after the columns */
#shop .listcontainer:after {
    content: "";
    display: table;
    clear: both;
}

#shop ul{
    list-style-type: none;
}

#shop .product_info {
    padding: 20px;
}

#shop .dropbtn {
    background-color: #FFFFFF;
    color: #C6A788;
    font-weight: bold;
    padding: 16px;
    font-size: 16px;
    border: 2px solid #C6A788;
    border-radius: 5px;
    cursor: pointer;
}

#shop .dropbtn:hover, #shop .dropbtn:focus {
    background-color: #C6A788;
    color: #FBFBFB;
}

#shop .dropdown {
    position: relative;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 50px;
}

#shop .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#shop .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#shop .dropdown a:hover {background-color: #ddd}

#shop .show {display:block;}

/* story page */            
#story #slider {
    margin: auto;
    position: relative;
    width: 660px;
    height: 400px;
    margin-top: 50px;
}
#story #slider #slides {
    position: absolute;

    left: 80px;
    width: 500px;
    height: 400px;
    overflow: hidden;
}
#story #slider img {
    position: absolute;
    width: 500px;
    left: 0;
}

#story #slider .button {
    position: relative;
    margin-top: 170px;
    width: 40px;
    transition: 0.1s ease;
}

#story #slider .button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s ease;
}

#story #slider #lbutton {
    float: left;
}
#story #slider #rbutton {
    float: right;
}
#story .textbox {
    text-align: center;
    background: #F9F9F9;
}
#story .textbox p{
    text-align: left;  
    padding: 50px 300px;
}

/* product detail page */
/* detailbox is right column on the production description page describing the product */
#detail #detailbox {
    width: 40%; 
    float: right;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

/* button style */
#detail .button {
    display: block;
    position: relative;
    top: 50px;
    margin: auto;
    background-color: #C6A788;
    font-family: 'Lato', sans-serif;   
    font-weight: bold;
    border: none;
    color: #FBFBFB;
    padding: 16px 32px;
    font-size: 16px;  
    border-radius: 10px;
    align-self: center;
}

/* imagebox for image picker */
#detail .imagebox {
    float: left;                                             
    width: 50%; 
    min-width: 400px;
    text-align: center;
}

/* mainbox of the impage picker, it sets the size of the box and margin */
#detail .imagebox .mainbox {
    width: 600px;
    height: 600px;
    margin: auto;          /* effect of placing image at the center */
    margin-top: 50px;
    margin-bottom: 50px;
}
    
#detail .imagebox img {
    width: 60%;
}

/* main image size is limited by the either max height or max width */
#detail .imagebox #mainimage {
    max-width: 600px;
    max-height: 600px;
}

#detail #color-tag {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: #3A3A3A;
    font-size: 14pt;
}

#detail #color {
    display: inline-block;
    font-family: 'Lato', sans-serif; 
    font-size: 14pt;
    color: #636363;
}

#detail .img-magnifier-container {
  position:relative;
}

#detail .img-magnifier-glass {
  position: absolute;
  border: 2px solid #9D846B;
  border-radius: 50%;
  margin-left: 120px;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}

/* about us page */
#about .contentsbox {
    position: relative;
    margin: 100px;
}
#about .contentsbox img {
    position: relative;
    float: left;
    width: 500px;
    height: 400px;
} 
#about .contentsbox p{
    margin-top: 80px;
    text-align: left;
}
#about #contentstext {
    width: 40%; 
    float: right;
    margin: 50px;
}
#about #videotext {
    position: relative;
    float: left;
    width: 40%;
    margin: 50px;
    padding-top: 50px;
}
#about #videobox {
    width: 40%; 
    float: right;
    padding: 100px;
}

/* contact us */
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#contact #map {
    display: block;
    height: 400px;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
#contact .contents {
    position: relative;
    width: 60%;
    text-align: left;
}

/* measure page */
#measure #contentbox {
    text-align: left;
    padding: 50px;
    margin: 50px;
}
#measurebox {
    position: relative;
}  
#measureimagebox {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
} 
#measureimagebox img{
    position: relative;
    width: 100%;
}    
#measuretext {
    float: right;
    width: 40%;
}  
#measuretext p {
    margin-bottom: 50px;
}
