/* Assignment 3.1: Create a simple responsive layout */ 
 
.hide {
	position: absolute !important;
    height: 0px; width: 0px; 
    overflow: hidden;
}
            
h2, h3, h4, p, nav, th, td {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}
    
h2 {
    font-size: 14pt;
    text-align: center;
    margin: 20px;
}
            
h3 {
    font-size: 16pt;
}
            
h4 {
    font-size: 14pt;
}

nav a, h4 a, td a, footer a {
    text-decoration: none; 
    color: #404040; 
}
            
p {
    font-size: 12pt;
}

#container {                                                   
    position: relative;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

header {
    overflow: auto;
    padding: 10px 50px;
}

#logo {
    position: relative;
    float: left;
    font-family: 'Baloo', cursive;
    color: #8999BD;
    font-size: 40pt;
    margin: inherit;
}
    
/* menu bar style */
nav {
    overflow: hidden;
    position: relative;
    width: 30%;
    float: right;
}

nav ul {
    list-style: none;
}

nav a {
    float: left;
    font-weight: bold;
    width: 33.33%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; 
    font-size: 18px;
}

/* style of the hovered link */
nav a:hover {
    background-color: #CED8E4;
}

/* style of the active link */
nav a:active {
    color: #FA6161;
}

/* indication of recent page */
nav a.currentpage {
    color: #5C799C;
}

#categorybox {
    width: 100%;
}

#index {
    position: relative;
    background-color: #FFF3EC;
    height: 10em;
}

#index h2 {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #5C677F;
}

table {
    float: left;
    border-collapse: collapse;
    width: 60%;
    margin: 40px 0px 20px 80px;
    text-align: left;
}

* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
td {
    float: left;
    width: 25%;
    padding: 2em;
    font-size: 14px;
}

/* using nth-child(n) to zebra stripe to be ob odd rows */
tr:nth-child(2n) {
    background-color: #FBFBFB;
}

td:nth-child(1){
    width:15%;
}

td:nth-child(2)  {
    width:20%;
}

td:nth-child(2) a:hover {
    color: #D1A0A0;
}

td:nth-child(3) {
    width:50%;
    text-align:left;
}

td:nth-child(4) {
    width:15%;
}

thead tr:nth-child(2n+1){
    height:40px;
}

.productbox {
    height: 200px;
}

.titlebox td {
    color: #8D8D8D; 
}

td img {
    width: 100%;
    min-width: 50px;
}

/* style the first letter of every description contenct */
.description::first-letter {
    color: #8999BD;
    font-size: 14pt;
    font-weight: bold;
}

/* 10% width second column */ 
aside { 
    width: 13%; 
    float: right;
    text-align: center;
    margin: 40px 80px 20px 0px;
}

aside img{
    width: 60%;
}

aside h3 {
    font-size: 14px;
    color: #6A6A6A;
}

aside h4 {
    font-size: 12px;
}

/* footer style */
footer {                                                     
    clear: both;
    text-align: center;
    margin-top: 5%;
    padding-top: 5%;                                         
    padding-bottom: 5%;
    background-color: #E0E0E0;
    color: #5C5C5C;
}  
            
footer a {
    font-weight: bold;
}

/* On screens that are 960px wide or less, go from four columns to two columns */
@media screen and (max-width: 960px) {
table {
    margin: 0;
    }
    aside {
    margin: 0;
    }
}


/* On screens that are 758px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 758px) {
#logo {
    float: none;
    text-align: center;
}
    
nav {
    float: none;
    width: 100%;
}
    
.descriptiontitle, .description {
    display: none;
}
    
table, aside{ 
    float: none;
    width: 100%;
}
    
td:nth-child(1){
    width: 33.33%;
}

td:nth-child(2){
    width: 33.33%;
}

td:nth-child(3){
    width: 33.33%;
}
    
    /* 2-column grid with with the repeat() function. */
#sidebox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
}    
}
    
/* On screens that are 524px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 524px) {
#sidebox { 
    display: block;
}
}

