/* Assignment 1.1: an external style sheet */ 
#firstpage {
    background-color: #FFF2D4;
    font-family: sans-serif;
}
#secondpage {
    background-color: #B3C5CE;
    font-family: sans-serif;
    color: #FAFAFA;
}
#firstpage h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 30pt;
    color: #cca300;
    text-align: center; 
    padding-top: 40px;
}
#secondpage h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 30pt;
    color: #165C7F;
    text-align: center; 
    padding-top: 40px;
}
h2 {
    color: #808080;
    text-align: center; 
    padding-top: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   /* 3-column grid with with the repeat() function. */
}
.container {
    padding: 4em;
    margin-right: 6em;
    margin-left: 6em;
}
.container p {
    color: #4d4d4d;
}
.imagebox {
    position: relative;
    width: 100%;
    text-align: center;
}
.imagebox img {                          
    width: 100%;
    transition: .5s ease;          /* Transition effect last for o.5 seconds with a slow start, then fast, then end slowly. */
    backface-visibility: hidden;   /* The back face of the image is invisable. */
    border-radius: 10px;
}
.imagebox img:hover {                      
    opacity: 0.2;                  /* The image is 20% see-through when mouse over.*/
}
.imagebox:hover .title {           /* The title is visible when mouse over.*/
    opacity: 1;
}
.title {
    /* Display the text at the center of the imagebox. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    opacity: 0;
    font-family: 'Fredoka One', cursive;
    font-size: 24pt;
    font-weight: bold;
    color: #05256E;
}
.footer {                                                     
    clear: both;
    text-align: center;
    padding-top: 5%;                                         
    padding-bottom: 5%;
    background-color: #E7E7E7;
    color: #5B5B5B;
} 
.footer a{
    font-size: 16pt;
}