/* Miyoun Cho 
 Assignment 8.1: Midterm Project 
 CSS script. */
h1 {
    font-family: 'Lora', serif;  
    color: #303030;
    padding-bottom: 20px;
    text-align: center;
}

h2 {
    font-family: 'Lora', serif;               
    color: #82204D;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #AB7D77;
    font-size: 12pt;
}

p, .description {
    font-family: 'Open Sans', sans-serif;
    color: #5C5C5C;
    font-size: 11pt;
}

.description {
    text-align: left;
    margin: auto;
    width: 80%; 
}

.container {                                                   
    position: relative;
    width: 70%;
    min-width: 80em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.clear {clear: both;}

/* maininfo is left column on the main page */
.maininfo {
    position: relative;
    float: left;                                              /* flowing text with floats */
    width: 70%; 
    padding-right: 40px;
}

/* maininfo section is for each section in the main page */
.maininfo .section{
    position: relative;
    margin: auto;
}

/* leftcol and rightcol divides section into left and right column with padding inbetween */
.section .leftcol {
    position: relative;
    float: left;
    width: 50%;
    padding-right: 20px;
}

.section .rightcol {
    position: relative;
    float: right;
    width: 50%;
    padding-left: 20px;    
}

 /* 30% width second column  in the main page */
.sidebar {                                                   
    width: 30%; 
    float: right;
    margin-top: 20px;
    padding: 20px;
    background-color: #F3ECEA;
    text-align: center;
}

/* sidebar title uses h1 but needs more margin */
.sidebartitle {
    margin-bottom: 50px;
}

.sidebaritem {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #3C6278;
    font-size: 14pt;
    margin-bottom: 10px;
}

/* button style for both pages */
.button {
    margin:10px;
    background-color: #AB7D77; 
    border: none;
    color: #F9FBFA;
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    align-self: center;
}

/* button style for navigation buttons such as back */
.navbutton {
    text-align: left;
    margin: 20px 50px;
    font-family: 'Open Sans', sans-serif;
    color: #82204D;
}

/* imagebox for image picker */
.imagebox {
    float: left;                                             
    width: 50%; 
    min-width: 400px;
    background-color: #F3ECEA;
    text-align: center;
}

/* mainbox of the impage picker, it sets the size of the box and margin */
.imagebox .mainbox {
    width: 400px;
    height: 400px;
    margin: auto;          /* effect of placing image at the center */
    margin-top: 100px;
    margin-bottom: 100px;
}

/* main image size is limited by the either max height or max width */
.imagebox #mainimage {
    max-width: 400px;
    max-height: 400px;
}

/* thumbnails are small images at the bottom that users can pick by hovering the mouse cursor */
.thumbnail {
    float: left;
    width: 100%;
    margin-bottom: 100px;
}

/* bounding box for the thumbnail image. it is square shaped regardless of actual image aspect ratio */
.thumbnail .box {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-color: #AB7D77;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}

/* display thumbnail with maximum 48px height or width */
.thumbnail .box img {
    max-height: 48px;
    max-width: 48px;
} 

/* detailbox is right column on the production description page describing the product */
.detailbox {
    width: 50%; 
    float: right;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

/* give 30px margin for each description text */
.detailbox .description li {
    margin-bottom: 30px;
    list-style-position: inside;
}
