h1 {
    font-family: 'Lora', serif;  
    color: #313030;
    padding-bottom: 20px;
    text-align: center;
}
h2 {
    font-family: 'Lora', serif;               
    color: #82204D;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    color: #AB7D77;
    font-size: 12pt;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #313030;
}
.container {                                                   
    position: relative;
    width: 70%;
    min-width: 80em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.maininfo {
    float: left;                                              /* flowing text with floats */
    width: 70%; 
    padding-right: 40px;
}
.maininfo img {
    position: relative;
    float: left;
    width: 50%;
    padding-right: 20px;
}
.maininfobox2 {
    position: relative;
    float: left;
    width: 320px;
    padding-left: 20px;
}
.sidebar {                                                    /* 30% width second column */
    width: 30%; 
    float: right;
    margin-top: 20px;
    padding: 20px;
    background-color: #F3ECEA;
}
.sidebartitle {
    text-align: center;
    margin-bottom: 50px;
}
.sidebarbox {
    padding 10px;
    text-align: center;
}
.sidebarbox img {
    margin:auto;
}
.sidebarsubtitle {
    font-family: 'Lora', serif;
    color: #AB7D77;
    font-size: 12pt;
    text-align: center;
    font-weight: bold;
    margin: 30px;
}
.sidebaritem {
    font-family: 'Open Sans', sans-serif;
    color: #3C6278;
    font-size: 14pt;
    margin-bottom: 10px;
}
.sidebartext {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #5C5C5C;
    font-size: 11pt;
    margin: 30px;
}
.button {
    background-color: #AB7D77; 
    border: none;
    color: #F9FBFA;
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    align-self: center;
}

h2 {
    font-family: 'Lora', serif;               
    color: #82204D;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    color: #AB7D77;
    font-size: 12pt;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #313030;
}
.container {                                                   
    position: relative;
    width: 70%;
    min-width: 80em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.imagebox {
    float: left;                                             
    width: 50%; 
    background-color: #F3ECEA;
    text-align: center;
} 

.imagebox .mainimage {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.thumbnail {
    float: left;
    width: 100%;
    margin-bottom: 100px;

}
.thumbnail .box {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-color: #AB7D77;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}
.thumbnail .box img {
    max-height: 48px;
    max-width: 48px;
} 
.detailbox {                                                    
    width: 50%; 
    float: right;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
.detailbox h1 {
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20pt;     
}
.detailbox .description{
    text-align: left;
    margin: auto;
    width: 70%; 
    float:none;
    font-family: 'Open Sans', sans-serif;
    color: #5C5C5C;
    font-size: 11pt;
}
.detailbox .description li {
    margin-bottom: 30px;
    list-style-position: inside;

}
.detailboxtitle {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 20pt;     
}
.button {
    background-color: #AB7D77; 
    border: none;
    color: #F9FBFA;
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    align-self: center;
}
.navbutton {
    text-align: left;
    margin: 20px 50px;
    font-family: 'Open Sans', sans-serif;
    color: #82204D;
}
